@import url(https://fonts.bunny.net/css?family=roboto-slab:300,400,700);

h3 {font-size:1rem;}
h1 a, h2 a, h3 a {color: black;}

.bi-easel-fill {float:right;}


.reveal{font-size:42px;}
.bordered{border:1px solid #ccc; padding:5px;}
.reveal figure figcaption, .caption {font-size:1rem !important; text-align:center;}